# System files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Build folders
bin/
build/
dist/

# Python
__pycache__/
venv/
*.pyc

# Logs
*.log

# Temporary files
*.tmp

# Txt files
*.txt

# CSV files
*.csv

# JSON files
*.json
